* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: #f5f2f1;
}

.navigate {
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.navMenu a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding: 0 10px;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 1em 5em;
}

.container {
    border-radius: 30px;
    padding: 30px;
    background: #fff;
}

.task-name {
    margin-bottom: 10px;
}

.task-name input {
    padding: 10px 5px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
}

.task-category {
    margin: 10px;
}

.task-category h2 {
    font-size: 15px;
    margin-bottom: 5px;
}

.task-category select {
    border: 1px solid #c79d15;
    padding: 0 1em;
}

.task-priority {
    margin: 15px;
}

.task-priority h2 {
    font-size: 15px;
    margin-bottom: 5px;
}

.task-priority select {
    border: 1px solid #c79d15;
    padding: 0 1em;
}

.task-button {
    margin: 10px;
}

.task-button button {
    padding: 5px 10px;
    border: 2px solid #c79d15;
    border-radius: 10px;
    background: #fff;
    transition: .3s;
    cursor: pointer;
}

.task-button button:hover {
    background-color: #c79d15;
    color: #fff;
}

.verticalLine {
    border-left: 2px solid #000;
}

.task-list {
    display: flex;
    justify-content: center;
}

.task-list ul {
    padding: 0 20px;
}

.task-list li {
    list-style: none;
    padding: 5px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #fff;
    font-weight: bold;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}